.posts {

  display: flex;
}

.post {
  min-width: 200px;
  min-height: 350px;
  margin: 5px;
  padding: 5px;
  text-align: center;

}

.post>img {
  width: 350px;
}

.container {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.qr-container {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}